openapi: 3.0.3
info:
  title: 211 Documentation Creation
  description: |-
    This collection is used to **document** the most current version of the API. The API may change. Please only update examples IF the Nexus API or other associated APIs change.

    This collection is a fork of the official documentation hosted at: [Nexus211 API.](https://api.nexus211.com/docs/#/)
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.nexus211.com
  - url: https://admin.211cs.org
  - url: https://contact.211cs.org
  - url: https://care.211cs.org
paths:
  /search/resource:
    get:
      tags:
        - Search
      summary: Resource Search
      description: |-
        ### API Request Description

        This API endpoint makes an HTTP GET request to retrieve resource search results based on the provided ElasticSearch query parameters.

        This route only searches for resources. The query can be in the [query string query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) format or [match query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query.html).

        #### Response Body

        The response is a JSON object with the following structure:

        - "__meta": Object containing metadata information such as total, perPage, currentLength, prevUrl, and nextUrl.
            
        - "data": An array of objects containing detailed information about the search results, including id, createdAt, updatedAt, description, geoArea, status, visibility, limitedAvailability, alias, metadata, organization, site, service, networks, siteId, serviceId, references, hour, emails, phones, contactPersons, addresses, area, and _score.
      operationId: resourceSearch
      parameters:
        - name: query
          in: query
          schema:
            type: string
            example: '[{"query_string":{"query":"Hx00oD1BDhV3l3gVH4321lntQ6pD9Q","default_field":"id"}}]'
      responses:
        '200':
          description: Example Resource Search
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,GET,POST,PATCH,DELETE
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Cross-Origin-Embedder-Policy:
              schema:
                type: string
                example: require-corp
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Fri, 21 Mar 2025 17:58:01 GMT
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    type: object
                    properties:
                      currentLength:
                        type: number
                        example: 1
                      nextUrl:
                        nullable: true
                        example: null
                      perPage:
                        type: number
                        example: 100
                      prevUrl:
                        nullable: true
                        example: null
                      total:
                        type: number
                        example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        _score:
                          type: number
                          example: 11.539933
                        addresses:
                          type: array
                          items: {}
                          example: []
                        alias:
                          nullable: true
                          example: null
                        area:
                          nullable: true
                          example: null
                        contactPersons:
                          type: array
                          items: {}
                          example: []
                        createdAt:
                          type: string
                          example: '2025-03-12T13:46:56.955Z'
                        description:
                          type: string
                          example: |
                            <p></p>
                        emails:
                          type: array
                          items: {}
                          example: []
                        geoArea:
                          nullable: true
                          example: null
                        hour:
                          type: object
                          properties:
                            createdAt:
                              type: string
                              example: '2025-03-12T13:46:57.191Z'
                            elementId:
                              type: string
                              example: Hx00oD1BDhV3l3gVH4321lntQ6pD9Q
                            elementType:
                              type: string
                              example: resource
                            friday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            id:
                              type: string
                              example: Hxzwd4Aa8HKGAGpqs53VG1xHJNg7G3
                            isConfidential:
                              type: boolean
                              example: false
                            metadata:
                              type: object
                              properties:
                                notes:
                                  type: string
                                  example: 24/7
                            monday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            saturday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            specialHours:
                              type: array
                              items: {}
                              example: []
                            sunday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            thursday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            tuesday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                            updatedAt:
                              type: string
                              example: '2025-03-12T13:46:57.191Z'
                            wednesday:
                              type: array
                              items:
                                type: string
                                example: 08:00-17:00
                              example:
                                - 08:00-17:00
                        id:
                          type: string
                          example: Hx00oD1BDhV3l3gVH4321lntQ6pD9Q
                        limitedAvailability:
                          type: boolean
                          example: false
                        metadata:
                          type: object
                          properties:
                            applicationProcedure:
                              type: string
                              example: |
                                <p></p>
                            documents:
                              type: array
                              items: {}
                              example: []
                            eligibility:
                              type: string
                              example: ''
                            fees:
                              type: string
                              example: |
                                <p>No fees, just dedicate your life to us.</p>
                            serviceAreaName:
                              type: array
                              items:
                                type: string
                                example: 41001 (Zip)
                              example:
                                - 41001 (Zip)
                                - 41005 (Zip)
                            serviceAreaRegion:
                              type: array
                              items:
                                type: string
                                example: Zip Codes
                              example:
                                - Zip Codes
                            serviceAreaZipCodes:
                              type: array
                              items:
                                type: string
                                example: '41001'
                              example:
                                - '41001'
                                - '41005'
                            serviceConditions:
                              type: object
                              properties: {}
                            serviceExclusions:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    example: YX
                                  name:
                                    type: string
                                    example: Victims/Survivors
                              example:
                                - code: YX
                                  name: Victims/Survivors
                                - code: YE
                                  name: Citizenship
                            serviceRequirements:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    example: YI
                                  name:
                                    type: string
                                    example: Experiencers of Paranormal/Extraterrestrial Events
                              example:
                                - code: YI
                                  name: Experiencers of Paranormal/Extraterrestrial Events
                                - code: YP
                                  name: Offenders
                                - code: YY
                                  name: Volunteers
                        networks:
                          type: array
                          items:
                            type: object
                            properties:
                              createdAt:
                                type: string
                                example: '2025-03-12T13:30:05.327Z'
                              createdById:
                                type: string
                                example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              description:
                                type: string
                                example: This is our test network for building out 211Nexus documentation
                              id:
                                type: string
                                example: HxL7pLOx6iPl4wWQixv7gvDiD1jAL0
                              name:
                                type: string
                                example: Star Wars
                              updatedAt:
                                type: string
                                example: '2025-03-12T13:30:05.327Z'
                          example:
                            - createdAt: '2025-03-12T13:30:05.327Z'
                              createdById: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              description: This is our test network for building out 211Nexus documentation
                              id: HxL7pLOx6iPl4wWQixv7gvDiD1jAL0
                              name: Star Wars
                              updatedAt: '2025-03-12T13:30:05.327Z'
                        organization:
                          type: object
                          properties:
                            address:
                              nullable: true
                              example: null
                            city:
                              nullable: true
                              example: null
                            country:
                              type: string
                              example: US
                            createdAt:
                              type: string
                              example: '2024-05-16T14:03:15.435Z'
                            createdById:
                              type: string
                              example: HxEweyqapUWqzyvASlJoDO7UW1Qozv
                            demographicSurveyId:
                              type: string
                              example: HxGE1WkzvtgBP9qmSKGDxWOFjBzWQb
                            description:
                              type: string
                              example: May 16, 2024. UWGC Test Resource Migration
                            email:
                              nullable: true
                              example: null
                            id:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            logo:
                              nullable: true
                              example: null
                            name:
                              type: string
                              example: United Way of Greater Cincinnati (UWGC) - UAT Sandbox
                            state:
                              nullable: true
                              example: null
                            timezone:
                              nullable: true
                              example: null
                            updatedAt:
                              type: string
                              example: '2024-06-03T17:45:05.807Z'
                            website:
                              nullable: true
                              example: null
                            zipcode:
                              nullable: true
                              example: null
                        organizationId:
                          type: string
                          example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        phones:
                          type: array
                          items: {}
                          example: []
                        references:
                          type: array
                          items: {}
                          example: []
                        service:
                          type: object
                          properties:
                            addresses:
                              type: array
                              items: {}
                              example: []
                            agencyId:
                              type: string
                              example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                            airsTaxonomyId:
                              nullable: true
                              example: null
                            annotations:
                              type: array
                              items: {}
                              example: []
                            contactPersons:
                              type: array
                              items: {}
                              example: []
                            createdAt:
                              type: string
                              example: '2025-03-12T13:27:18.399Z'
                            description:
                              type: string
                              example: |
                                <p>Ready to stand up for what you believe in? The Empire needs people like you to fight for a new vision for the Galaxy.</p>
                            emails:
                              type: array
                              items: {}
                              example: []
                            geoArea:
                              nullable: true
                              example: null
                            hour:
                              nullable: true
                              example: null
                            id:
                              type: string
                              example: HxpKKd3z6IO6D145i3poVvoCJ1qlym
                            metadata:
                              type: object
                              properties:
                                airsTaxonomy:
                                  type: object
                                  properties:
                                    targetTerms:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          code:
                                            type: string
                                            example: YE
                                          name:
                                            type: string
                                            example: Citizenship
                                      example:
                                        - code: YE
                                          name: Citizenship
                                        - code: YY
                                          name: Volunteers
                                    taxonomyTerm:
                                      type: object
                                      properties:
                                        code:
                                          type: string
                                          example: PX-1500
                                        name:
                                          type: string
                                          example: Civic Participation/Political Volunteer Opportunities
                            name:
                              type: string
                              example: Volunteering to Protest the Republic
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            phones:
                              type: array
                              items: {}
                              example: []
                            references:
                              type: array
                              items: {}
                              example: []
                            status:
                              type: string
                              example: active
                            updatedAt:
                              type: string
                              example: '2025-03-19T15:43:27.937Z'
                        serviceId:
                          type: string
                          example: HxpKKd3z6IO6D145i3poVvoCJ1qlym
                        site:
                          type: object
                          properties:
                            addresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  addressLine1:
                                    type: string
                                    example: 1 Vader Way, Sector 7G
                                  addressLine2:
                                    nullable: true
                                    example: null
                                  country:
                                    type: string
                                    example: US
                                  createdAt:
                                    type: string
                                    example: '2025-03-12T13:20:19.677Z'
                                  elementId:
                                    type: string
                                    example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType:
                                    type: string
                                    example: site
                                  id:
                                    type: string
                                    example: HxQ5D59wqhexknyni8Gyp63ux7L25a
                                  isConfidential:
                                    type: boolean
                                    example: false
                                  latitude:
                                    type: string
                                    example: '46.40260809999999'
                                  locality:
                                    type: string
                                    example: Galactic Empire
                                  longitude:
                                    type: string
                                    example: '-122.9603966'
                                  metadata:
                                    type: object
                                    properties:
                                      addressFunction:
                                        type: array
                                        items:
                                          type: string
                                          example: Administration
                                        example:
                                          - Administration
                                          - Service
                                      addressTransportation:
                                        type: array
                                        items:
                                          type: string
                                          example: Public Transportation Access
                                        example:
                                          - Public Transportation Access
                                      addressType:
                                        type: array
                                        items:
                                          type: string
                                          example: Physical
                                        example:
                                          - Physical
                                      county:
                                        type: string
                                        example: Imperial Space
                                      sortOrder:
                                        type: number
                                        example: 1
                                  organizationId:
                                    type: string
                                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  postalCode:
                                    type: string
                                    example: '00001'
                                  region:
                                    type: string
                                    example: Washington DC
                                  updatedAt:
                                    type: string
                                    example: '2025-03-12T20:31:40.288Z'
                              example:
                                - addressLine1: 1 Vader Way, Sector 7G
                                  addressLine2: null
                                  country: US
                                  createdAt: '2025-03-12T13:20:19.677Z'
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  id: HxQ5D59wqhexknyni8Gyp63ux7L25a
                                  isConfidential: false
                                  latitude: '46.40260809999999'
                                  locality: Galactic Empire
                                  longitude: '-122.9603966'
                                  metadata:
                                    addressFunction:
                                      - Administration
                                      - Service
                                    addressTransportation:
                                      - Public Transportation Access
                                    addressType:
                                      - Physical
                                    county: Imperial Space
                                    sortOrder: 1
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  postalCode: '00001'
                                  region: Washington DC
                                  updatedAt: '2025-03-12T20:31:40.288Z'
                            agency:
                              type: object
                              properties:
                                addresses:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      addressLine1:
                                        type: string
                                        example: 1 Vader Way, Sector 7G
                                      addressLine2:
                                        nullable: true
                                        example: null
                                      country:
                                        type: string
                                        example: US
                                      createdAt:
                                        type: string
                                        example: '2025-03-12T13:20:18.742Z'
                                      elementId:
                                        type: string
                                        example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType:
                                        type: string
                                        example: agency
                                      id:
                                        type: string
                                        example: Hx5gXWNkot9mpBwVCyErBlmf9doO1w
                                      isConfidential:
                                        type: boolean
                                        example: false
                                      latitude:
                                        type: string
                                        example: '46.40260809999999'
                                      locality:
                                        type: string
                                        example: Galactic Empire
                                      longitude:
                                        type: string
                                        example: '-122.9603966'
                                      metadata:
                                        type: object
                                        properties:
                                          addressFunction:
                                            type: array
                                            items:
                                              type: string
                                              example: Administration
                                            example:
                                              - Administration
                                              - Service
                                          addressTransportation:
                                            type: array
                                            items:
                                              type: string
                                              example: Public Transportation Access
                                            example:
                                              - Public Transportation Access
                                          addressType:
                                            type: array
                                            items:
                                              type: string
                                              example: Physical
                                            example:
                                              - Physical
                                          county:
                                            type: string
                                            example: Imperial Space
                                          sortOrder:
                                            type: number
                                            example: 1
                                      organizationId:
                                        type: string
                                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      postalCode:
                                        type: string
                                        example: '00001'
                                      region:
                                        type: string
                                        example: Washington DC
                                      updatedAt:
                                        type: string
                                        example: '2025-03-12T20:31:35.418Z'
                                  example:
                                    - addressLine1: 1 Vader Way, Sector 7G
                                      addressLine2: null
                                      country: US
                                      createdAt: '2025-03-12T13:20:18.742Z'
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      id: Hx5gXWNkot9mpBwVCyErBlmf9doO1w
                                      isConfidential: false
                                      latitude: '46.40260809999999'
                                      locality: Galactic Empire
                                      longitude: '-122.9603966'
                                      metadata:
                                        addressFunction:
                                          - Administration
                                          - Service
                                        addressTransportation:
                                          - Public Transportation Access
                                        addressType:
                                          - Physical
                                        county: Imperial Space
                                        sortOrder: 1
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      postalCode: '00001'
                                      region: Washington DC
                                      updatedAt: '2025-03-12T20:31:35.418Z'
                                agencyType:
                                  nullable: true
                                  example: null
                                alias:
                                  type: array
                                  items:
                                    type: string
                                    example: Dark Side
                                  example:
                                    - Dark Side
                                annotations:
                                  type: array
                                  items: {}
                                  example: []
                                annualBudget:
                                  type: number
                                  example: 500000
                                contactPersons:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      createdAt:
                                        type: string
                                        example: '2025-03-12T13:20:18.840Z'
                                      description:
                                        type: string
                                        nullable: true
                                        example: null
                                      elementId:
                                        type: string
                                        example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType:
                                        type: string
                                        example: agency
                                      id:
                                        type: string
                                        example: Hx2X5va6NcvwgodLuEkq6nWf1D0D24
                                      isConfidential:
                                        type: boolean
                                        example: false
                                      metadata:
                                        type: object
                                        properties:
                                          isAgencyAdmin:
                                            type: boolean
                                            example: true
                                          sith:
                                            type: boolean
                                            example: true
                                          sortOrder:
                                            type: number
                                            example: 1
                                      name:
                                        type: string
                                        example: Darth Vader
                                      organizationId:
                                        type: string
                                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      title:
                                        type: string
                                        example: Sith Lord
                                      updatedAt:
                                        type: string
                                        example: '2025-03-12T20:31:35.398Z'
                                  example:
                                    - createdAt: '2025-03-12T13:20:18.840Z'
                                      description: null
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      id: Hx2X5va6NcvwgodLuEkq6nWf1D0D24
                                      isConfidential: false
                                      metadata:
                                        isAgencyAdmin: true
                                        sortOrder: 1
                                      name: Darth Vader
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      title: Sith Lord
                                      updatedAt: '2025-03-12T20:31:35.398Z'
                                    - createdAt: '2025-03-19T16:19:00.739Z'
                                      description: A Quad-armed sith lord
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      id: Hxjwr2d2QCv6mkkWtE8m97PtmbdvPJ
                                      isConfidential: false
                                      metadata:
                                        sith: true
                                      name: Grievous
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      title: General
                                      updatedAt: '2025-03-19T16:21:27.227Z'
                                createdAt:
                                  type: string
                                  example: '2025-03-12T13:20:17.839Z'
                                description:
                                  type: string
                                  example: |
                                    <p>The empire is a powerful organization that hopes to rule the galaxy.</p>
                                directorName:
                                  type: string
                                  example: Palpatine
                                directorTitle:
                                  type: string
                                  example: Emperor
                                emails:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      createdAt:
                                        type: string
                                        example: '2025-03-12T13:20:18.099Z'
                                      description:
                                        nullable: true
                                        example: null
                                      elementId:
                                        type: string
                                        example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType:
                                        type: string
                                        example: agency
                                      emailAddress:
                                        type: string
                                        example: emperorpalp@empire.net
                                      id:
                                        type: string
                                        example: Hxkvda2mqtWrq1w7svVJ9wOsdyPwpP
                                      isConfidential:
                                        type: boolean
                                        example: false
                                      metadata:
                                        type: object
                                        properties:
                                          sortOrder:
                                            type: number
                                            example: 1
                                      organizationId:
                                        type: string
                                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      updatedAt:
                                        type: string
                                        example: '2025-03-12T20:31:35.398Z'
                                  example:
                                    - createdAt: '2025-03-12T13:20:18.099Z'
                                      description: null
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      emailAddress: emperorpalp@empire.net
                                      id: Hxkvda2mqtWrq1w7svVJ9wOsdyPwpP
                                      isConfidential: false
                                      metadata:
                                        sortOrder: 1
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      updatedAt: '2025-03-12T20:31:35.398Z'
                                federalEIN:
                                  type: string
                                  example: 98-9887548
                                hour:
                                  type: object
                                  properties:
                                    createdAt:
                                      type: string
                                      example: '2025-03-12T13:20:18.096Z'
                                    elementId:
                                      type: string
                                      example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                    elementType:
                                      type: string
                                      example: agency
                                    friday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    id:
                                      type: string
                                      example: HxpEBP49OuO99eP4iGOb5meuooBaJV
                                    isConfidential:
                                      type: boolean
                                      example: false
                                    metadata:
                                      type: object
                                      properties: {}
                                    monday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    organizationId:
                                      type: string
                                      example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                    saturday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    specialHours:
                                      type: array
                                      items: {}
                                      example: []
                                    sunday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    thursday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    tuesday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                    updatedAt:
                                      type: string
                                      example: '2025-03-12T20:31:35.397Z'
                                    wednesday:
                                      type: array
                                      items:
                                        type: string
                                        example: 00:00-12:00
                                      example:
                                        - 00:00-12:00
                                id:
                                  type: string
                                  example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                irsTaxCode:
                                  type: string
                                  example: OTHER
                                isArchived:
                                  type: boolean
                                  example: false
                                legalStatus:
                                  type: string
                                  example: 'Government- State '
                                metadata:
                                  type: object
                                  properties:
                                    adminDescription:
                                      type: string
                                      example: |
                                        <p>The Sith lords are more dangerous than you think.</p>
                                name:
                                  type: string
                                  example: The Empire
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                phones:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      createdAt:
                                        type: string
                                        example: '2025-03-12T13:20:18.330Z'
                                      description:
                                        nullable: true
                                        example: null
                                      elementId:
                                        type: string
                                        example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType:
                                        type: string
                                        example: agency
                                      extension:
                                        type: string
                                        example: '123'
                                      functions:
                                        type: array
                                        items:
                                          type: string
                                          example: Main
                                        example:
                                          - Main
                                      id:
                                        type: string
                                        example: HxgBJGq9rtWDdQOWCAOKwnPHpPOQAP
                                      isConfidential:
                                        type: boolean
                                        example: false
                                      metadata:
                                        type: object
                                        properties:
                                          sortOrder:
                                            type: number
                                            example: 1
                                      number:
                                        type: string
                                        example: '+13239867785'
                                      organizationId:
                                        type: string
                                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      types:
                                        type: array
                                        items:
                                          type: string
                                          example: Phone
                                        example:
                                          - Phone
                                      updatedAt:
                                        type: string
                                        example: '2025-03-12T20:31:35.404Z'
                                  example:
                                    - createdAt: '2025-03-12T13:20:18.330Z'
                                      description: null
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      extension: '123'
                                      functions:
                                        - Main
                                      id: HxgBJGq9rtWDdQOWCAOKwnPHpPOQAP
                                      isConfidential: false
                                      metadata:
                                        sortOrder: 1
                                      number: '+13239867785'
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      types:
                                        - Phone
                                      updatedAt: '2025-03-12T20:31:35.404Z'
                                references:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      createdAt:
                                        type: string
                                        example: '2025-03-19T16:01:39.173Z'
                                      description:
                                        nullable: true
                                        example: null
                                      elementId:
                                        type: string
                                        example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType:
                                        type: string
                                        example: agency
                                      id:
                                        type: string
                                        example: HxPlmoxaKT6qgGNbf0npdmmsAJzGvq
                                      isConfidential:
                                        type: boolean
                                        example: false
                                      label:
                                        nullable: true
                                        example: null
                                      metadata:
                                        type: object
                                        nullable: true
                                        example: null
                                      organizationId:
                                        type: string
                                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      type:
                                        type: string
                                        example: url
                                      updatedAt:
                                        type: string
                                        example: '2025-03-19T16:01:39.173Z'
                                      uri:
                                        type: string
                                        example: www.thedarkside.com
                                  example:
                                    - createdAt: '2025-03-19T16:01:39.173Z'
                                      description: null
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      id: HxPlmoxaKT6qgGNbf0npdmmsAJzGvq
                                      isConfidential: false
                                      label: null
                                      metadata: null
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      type: url
                                      updatedAt: '2025-03-19T16:01:39.173Z'
                                      uri: www.thedarkside.com
                                    - createdAt: '2025-03-12T13:20:18.425Z'
                                      description: null
                                      elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                      elementType: agency
                                      id: Hxan0yQaBsp7gJ0yt9Gg3deCyyAym1
                                      isConfidential: false
                                      label: null
                                      metadata:
                                        sortOrder: 1
                                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                      type: url
                                      updatedAt: '2025-03-12T20:31:35.403Z'
                                      uri: theempire.net
                                status:
                                  type: string
                                  example: active
                                surveyType:
                                  type: string
                                  example: online
                                updatedAt:
                                  type: string
                                  example: '2025-03-12T20:31:34.698Z'
                                url:
                                  nullable: true
                                  example: null
                                yearIncorporated:
                                  type: number
                                  example: 1977
                            agencyId:
                              type: string
                              example: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                            alias:
                              type: array
                              items:
                                type: string
                                example: Dark Side
                              example:
                                - Dark Side
                            annotations:
                              type: array
                              items: {}
                              example: []
                            contactPersons:
                              type: array
                              items:
                                type: object
                                properties:
                                  createdAt:
                                    type: string
                                    example: '2025-03-12T13:20:19.784Z'
                                  description:
                                    nullable: true
                                    example: null
                                  elementId:
                                    type: string
                                    example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType:
                                    type: string
                                    example: site
                                  id:
                                    type: string
                                    example: HxBVNOyXzHB9QmqLuXn54QNHpOV5j4
                                  isConfidential:
                                    type: boolean
                                    example: false
                                  metadata:
                                    type: object
                                    properties:
                                      isAgencyAdmin:
                                        type: boolean
                                        example: true
                                      sortOrder:
                                        type: number
                                        example: 1
                                  name:
                                    type: string
                                    example: Darth Vader
                                  organizationId:
                                    type: string
                                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  title:
                                    type: string
                                    example: Sith Lord
                                  updatedAt:
                                    type: string
                                    example: '2025-03-12T20:31:40.414Z'
                              example:
                                - createdAt: '2025-03-12T13:20:19.784Z'
                                  description: null
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  id: HxBVNOyXzHB9QmqLuXn54QNHpOV5j4
                                  isConfidential: false
                                  metadata:
                                    isAgencyAdmin: true
                                    sortOrder: 1
                                  name: Darth Vader
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  title: Sith Lord
                                  updatedAt: '2025-03-12T20:31:40.414Z'
                            createdAt:
                              type: string
                              example: '2025-03-12T13:20:18.943Z'
                            description:
                              type: string
                              example: |
                                <p>The empire is a powerful organization that hopes to rule the galaxy.</p>
                            emails:
                              type: array
                              items:
                                type: object
                                properties:
                                  createdAt:
                                    type: string
                                    example: '2025-03-12T13:20:19.292Z'
                                  description:
                                    nullable: true
                                    example: null
                                  elementId:
                                    type: string
                                    example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType:
                                    type: string
                                    example: site
                                  emailAddress:
                                    type: string
                                    example: emperorpalp@empire.net
                                  id:
                                    type: string
                                    example: Hxnk3WB01CB4LALNUyKGkQmI3vV4GV
                                  isConfidential:
                                    type: boolean
                                    example: false
                                  metadata:
                                    type: object
                                    properties:
                                      sortOrder:
                                        type: number
                                        nullable: true
                                        example: 1
                                  organizationId:
                                    type: string
                                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  updatedAt:
                                    type: string
                                    example: '2025-03-12T20:31:39.969Z'
                              example:
                                - createdAt: '2025-03-12T13:20:19.292Z'
                                  description: null
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  emailAddress: emperorpalp@empire.net
                                  id: Hxnk3WB01CB4LALNUyKGkQmI3vV4GV
                                  isConfidential: false
                                  metadata:
                                    sortOrder: 1
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  updatedAt: '2025-03-12T20:31:39.969Z'
                                - createdAt: '2025-03-12T13:20:19.180Z'
                                  description: null
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  emailAddress: emperorpalp@empire.net
                                  id: HxpjNqyoVC5r5NO9uwD4aaDuwb2OWp
                                  isConfidential: false
                                  metadata:
                                    sortOrder: null
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  updatedAt: '2025-03-12T13:20:19.180Z'
                            hour:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  example: '2025-03-12T13:20:19.193Z'
                                elementId:
                                  type: string
                                  example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                elementType:
                                  type: string
                                  example: site
                                friday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                id:
                                  type: string
                                  example: HxG1wlDX9Cgpj75dfWJN73Xtllnr
                                isConfidential:
                                  type: boolean
                                  example: false
                                metadata:
                                  type: object
                                  properties: {}
                                monday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                saturday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                specialHours:
                                  type: array
                                  items: {}
                                  example: []
                                sunday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                thursday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                tuesday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                                updatedAt:
                                  type: string
                                  example: '2025-03-12T20:31:35.943Z'
                                wednesday:
                                  type: array
                                  items:
                                    type: string
                                    example: 00:00-12:00
                                  example:
                                    - 00:00-12:00
                            id:
                              type: string
                              example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                            metadata:
                              type: object
                              properties:
                                replicatesAgency:
                                  type: boolean
                                  example: true
                            name:
                              type: string
                              example: The Empire
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            phones:
                              type: array
                              items:
                                type: object
                                properties:
                                  createdAt:
                                    type: string
                                    example: '2025-03-12T13:20:19.397Z'
                                  description:
                                    nullable: true
                                    example: null
                                  elementId:
                                    type: string
                                    example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType:
                                    type: string
                                    example: site
                                  extension:
                                    type: string
                                    example: '123'
                                  functions:
                                    type: array
                                    items:
                                      type: string
                                      example: Main
                                    example:
                                      - Main
                                  id:
                                    type: string
                                    example: Hx7070L2bijXzmLVhrrrD3GTBOr70O
                                  isConfidential:
                                    type: boolean
                                    example: false
                                  metadata:
                                    type: object
                                    properties:
                                      sortOrder:
                                        type: number
                                        example: 1
                                  number:
                                    type: string
                                    example: '+13239867785'
                                  organizationId:
                                    type: string
                                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  types:
                                    type: array
                                    items:
                                      type: string
                                      example: Phone
                                    example:
                                      - Phone
                                  updatedAt:
                                    type: string
                                    example: '2025-03-12T20:31:40.058Z'
                              example:
                                - createdAt: '2025-03-12T13:20:19.397Z'
                                  description: null
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  extension: '123'
                                  functions:
                                    - Main
                                  id: Hx7070L2bijXzmLVhrrrD3GTBOr70O
                                  isConfidential: false
                                  metadata:
                                    sortOrder: 1
                                  number: '+13239867785'
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  types:
                                    - Phone
                                  updatedAt: '2025-03-12T20:31:40.058Z'
                            references:
                              type: array
                              items:
                                type: object
                                properties:
                                  createdAt:
                                    type: string
                                    example: '2025-03-12T13:20:19.508Z'
                                  description:
                                    nullable: true
                                    example: null
                                  elementId:
                                    type: string
                                    example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType:
                                    type: string
                                    example: site
                                  id:
                                    type: string
                                    example: HxA7J82r8uVld6oouj32jJ0ulle6Qp
                                  isConfidential:
                                    type: boolean
                                    example: false
                                  label:
                                    nullable: true
                                    example: null
                                  metadata:
                                    type: object
                                    properties:
                                      sortOrder:
                                        type: number
                                        example: 1
                                  organizationId:
                                    type: string
                                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  type:
                                    type: string
                                    example: url
                                  updatedAt:
                                    type: string
                                    example: '2025-03-12T20:31:40.197Z'
                                  uri:
                                    type: string
                                    example: theempire.net
                              example:
                                - createdAt: '2025-03-12T13:20:19.508Z'
                                  description: null
                                  elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                                  elementType: site
                                  id: HxA7J82r8uVld6oouj32jJ0ulle6Qp
                                  isConfidential: false
                                  label: null
                                  metadata:
                                    sortOrder: 1
                                  organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                  type: url
                                  updatedAt: '2025-03-12T20:31:40.197Z'
                                  uri: theempire.net
                            status:
                              type: string
                              example: active
                            updatedAt:
                              type: string
                              example: '2025-03-12T20:31:35.467Z'
                            url:
                              nullable: true
                              example: null
                        siteId:
                          type: string
                          example: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                        status:
                          type: string
                          example: active
                        updatedAt:
                          type: string
                          example: '2025-03-12T13:46:56.955Z'
                        visibility:
                          type: string
                          example: public
                    example:
                      - _score: 11.539933
                        addresses: []
                        alias: null
                        area: null
                        contactPersons: []
                        createdAt: '2025-03-12T13:46:56.955Z'
                        description: |
                          <p></p>
                        emails: []
                        geoArea: null
                        hour:
                          createdAt: '2025-03-12T13:46:57.191Z'
                          elementId: Hx00oD1BDhV3l3gVH4321lntQ6pD9Q
                          elementType: resource
                          friday:
                            - 08:00-17:00
                          id: Hxzwd4Aa8HKGAGpqs53VG1xHJNg7G3
                          isConfidential: false
                          metadata:
                            notes: 24/7
                          monday:
                            - 08:00-17:00
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          saturday:
                            - 08:00-17:00
                          specialHours: []
                          sunday:
                            - 08:00-17:00
                          thursday:
                            - 08:00-17:00
                          tuesday:
                            - 08:00-17:00
                          updatedAt: '2025-03-12T13:46:57.191Z'
                          wednesday:
                            - 08:00-17:00
                        id: Hx00oD1BDhV3l3gVH4321lntQ6pD9Q
                        limitedAvailability: false
                        metadata:
                          applicationProcedure: |
                            <p></p>
                          documents: []
                          eligibility: ''
                          fees: |
                            <p>No fees, just dedicate your life to us.</p>
                          serviceAreaName:
                            - 41001 (Zip)
                            - 41005 (Zip)
                          serviceAreaRegion:
                            - Zip Codes
                          serviceAreaZipCodes:
                            - '41001'
                            - '41005'
                          serviceConditions: {}
                          serviceExclusions:
                            - code: YX
                              name: Victims/Survivors
                            - code: YE
                              name: Citizenship
                          serviceRequirements:
                            - code: YI
                              name: Experiencers of Paranormal/Extraterrestrial Events
                            - code: YP
                              name: Offenders
                            - code: YY
                              name: Volunteers
                        networks:
                          - createdAt: '2025-03-12T13:30:05.327Z'
                            createdById: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            description: This is our test network for building out 211Nexus documentation
                            id: HxL7pLOx6iPl4wWQixv7gvDiD1jAL0
                            name: Star Wars
                            updatedAt: '2025-03-12T13:30:05.327Z'
                        organization:
                          address: null
                          city: null
                          country: US
                          createdAt: '2024-05-16T14:03:15.435Z'
                          createdById: HxEweyqapUWqzyvASlJoDO7UW1Qozv
                          demographicSurveyId: HxGE1WkzvtgBP9qmSKGDxWOFjBzWQb
                          description: May 16, 2024. UWGC Test Resource Migration
                          email: null
                          id: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          logo: null
                          name: United Way of Greater Cincinnati (UWGC) - UAT Sandbox
                          state: null
                          timezone: null
                          updatedAt: '2024-06-03T17:45:05.807Z'
                          website: null
                          zipcode: null
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        phones: []
                        references: []
                        service:
                          addresses: []
                          agencyId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                          airsTaxonomyId: null
                          annotations: []
                          contactPersons: []
                          createdAt: '2025-03-12T13:27:18.399Z'
                          description: |
                            <p>Ready to stand up for what you believe in? The Empire needs people like you to fight for a new vision for the Galaxy.</p>
                          emails: []
                          geoArea: null
                          hour: null
                          id: HxpKKd3z6IO6D145i3poVvoCJ1qlym
                          metadata:
                            airsTaxonomy:
                              targetTerms:
                                - code: YE
                                  name: Citizenship
                                - code: YY
                                  name: Volunteers
                              taxonomyTerm:
                                code: PX-1500
                                name: Civic Participation/Political Volunteer Opportunities
                          name: Volunteering to Protest the Republic
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          phones: []
                          references: []
                          status: active
                          updatedAt: '2025-03-19T15:43:27.937Z'
                        serviceId: HxpKKd3z6IO6D145i3poVvoCJ1qlym
                        site:
                          addresses:
                            - addressLine1: 1 Vader Way, Sector 7G
                              addressLine2: null
                              country: US
                              createdAt: '2025-03-12T13:20:19.677Z'
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              id: HxQ5D59wqhexknyni8Gyp63ux7L25a
                              isConfidential: false
                              latitude: '46.40260809999999'
                              locality: Galactic Empire
                              longitude: '-122.9603966'
                              metadata:
                                addressFunction:
                                  - Administration
                                  - Service
                                addressTransportation:
                                  - Public Transportation Access
                                addressType:
                                  - Physical
                                county: Imperial Space
                                sortOrder: 1
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              postalCode: '00001'
                              region: Washington DC
                              updatedAt: '2025-03-12T20:31:40.288Z'
                          agency:
                            addresses:
                              - addressLine1: 1 Vader Way, Sector 7G
                                addressLine2: null
                                country: US
                                createdAt: '2025-03-12T13:20:18.742Z'
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                id: Hx5gXWNkot9mpBwVCyErBlmf9doO1w
                                isConfidential: false
                                latitude: '46.40260809999999'
                                locality: Galactic Empire
                                longitude: '-122.9603966'
                                metadata:
                                  addressFunction:
                                    - Administration
                                    - Service
                                  addressTransportation:
                                    - Public Transportation Access
                                  addressType:
                                    - Physical
                                  county: Imperial Space
                                  sortOrder: 1
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                postalCode: '00001'
                                region: Washington DC
                                updatedAt: '2025-03-12T20:31:35.418Z'
                            agencyType: null
                            alias:
                              - Dark Side
                            annotations: []
                            annualBudget: 500000
                            contactPersons:
                              - createdAt: '2025-03-12T13:20:18.840Z'
                                description: null
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                id: Hx2X5va6NcvwgodLuEkq6nWf1D0D24
                                isConfidential: false
                                metadata:
                                  isAgencyAdmin: true
                                  sortOrder: 1
                                name: Darth Vader
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title: Sith Lord
                                updatedAt: '2025-03-12T20:31:35.398Z'
                              - createdAt: '2025-03-19T16:19:00.739Z'
                                description: A Quad-armed sith lord
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                id: Hxjwr2d2QCv6mkkWtE8m97PtmbdvPJ
                                isConfidential: false
                                metadata:
                                  sith: true
                                name: Grievous
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title: General
                                updatedAt: '2025-03-19T16:21:27.227Z'
                            createdAt: '2025-03-12T13:20:17.839Z'
                            description: |
                              <p>The empire is a powerful organization that hopes to rule the galaxy.</p>
                            directorName: Palpatine
                            directorTitle: Emperor
                            emails:
                              - createdAt: '2025-03-12T13:20:18.099Z'
                                description: null
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                emailAddress: emperorpalp@empire.net
                                id: Hxkvda2mqtWrq1w7svVJ9wOsdyPwpP
                                isConfidential: false
                                metadata:
                                  sortOrder: 1
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                updatedAt: '2025-03-12T20:31:35.398Z'
                            federalEIN: 98-9887548
                            hour:
                              createdAt: '2025-03-12T13:20:18.096Z'
                              elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                              elementType: agency
                              friday:
                                - 00:00-12:00
                              id: HxpEBP49OuO99eP4iGOb5meuooBaJV
                              isConfidential: false
                              metadata: {}
                              monday:
                                - 00:00-12:00
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              saturday:
                                - 00:00-12:00
                              specialHours: []
                              sunday:
                                - 00:00-12:00
                              thursday:
                                - 00:00-12:00
                              tuesday:
                                - 00:00-12:00
                              updatedAt: '2025-03-12T20:31:35.397Z'
                              wednesday:
                                - 00:00-12:00
                            id: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                            irsTaxCode: OTHER
                            isArchived: false
                            legalStatus: 'Government- State '
                            metadata:
                              adminDescription: |
                                <p>The Sith lords are more dangerous than you think.</p>
                            name: The Empire
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            phones:
                              - createdAt: '2025-03-12T13:20:18.330Z'
                                description: null
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                extension: '123'
                                functions:
                                  - Main
                                id: HxgBJGq9rtWDdQOWCAOKwnPHpPOQAP
                                isConfidential: false
                                metadata:
                                  sortOrder: 1
                                number: '+13239867785'
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                types:
                                  - Phone
                                updatedAt: '2025-03-12T20:31:35.404Z'
                            references:
                              - createdAt: '2025-03-19T16:01:39.173Z'
                                description: null
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                id: HxPlmoxaKT6qgGNbf0npdmmsAJzGvq
                                isConfidential: false
                                label: null
                                metadata: null
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                type: url
                                updatedAt: '2025-03-19T16:01:39.173Z'
                                uri: www.thedarkside.com
                              - createdAt: '2025-03-12T13:20:18.425Z'
                                description: null
                                elementId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                                elementType: agency
                                id: Hxan0yQaBsp7gJ0yt9Gg3deCyyAym1
                                isConfidential: false
                                label: null
                                metadata:
                                  sortOrder: 1
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                type: url
                                updatedAt: '2025-03-12T20:31:35.403Z'
                                uri: theempire.net
                            status: active
                            surveyType: online
                            updatedAt: '2025-03-12T20:31:34.698Z'
                            url: null
                            yearIncorporated: 1977
                          agencyId: Hx816Dy1ACgldNNEHPk8NdeTQ9Wbm8
                          alias:
                            - Dark Side
                          annotations: []
                          contactPersons:
                            - createdAt: '2025-03-12T13:20:19.784Z'
                              description: null
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              id: HxBVNOyXzHB9QmqLuXn54QNHpOV5j4
                              isConfidential: false
                              metadata:
                                isAgencyAdmin: true
                                sortOrder: 1
                              name: Darth Vader
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              title: Sith Lord
                              updatedAt: '2025-03-12T20:31:40.414Z'
                          createdAt: '2025-03-12T13:20:18.943Z'
                          description: |
                            <p>The empire is a powerful organization that hopes to rule the galaxy.</p>
                          emails:
                            - createdAt: '2025-03-12T13:20:19.292Z'
                              description: null
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              emailAddress: emperorpalp@empire.net
                              id: Hxnk3WB01CB4LALNUyKGkQmI3vV4GV
                              isConfidential: false
                              metadata:
                                sortOrder: 1
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              updatedAt: '2025-03-12T20:31:39.969Z'
                            - createdAt: '2025-03-12T13:20:19.180Z'
                              description: null
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              emailAddress: emperorpalp@empire.net
                              id: HxpjNqyoVC5r5NO9uwD4aaDuwb2OWp
                              isConfidential: false
                              metadata:
                                sortOrder: null
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              updatedAt: '2025-03-12T13:20:19.180Z'
                          hour:
                            createdAt: '2025-03-12T13:20:19.193Z'
                            elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                            elementType: site
                            friday:
                              - 00:00-12:00
                            id: HxG1wlDX9Cgpj75dfWJN73Xtllnr
                            isConfidential: false
                            metadata: {}
                            monday:
                              - 00:00-12:00
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            saturday:
                              - 00:00-12:00
                            specialHours: []
                            sunday:
                              - 00:00-12:00
                            thursday:
                              - 00:00-12:00
                            tuesday:
                              - 00:00-12:00
                            updatedAt: '2025-03-12T20:31:35.943Z'
                            wednesday:
                              - 00:00-12:00
                          id: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                          metadata:
                            replicatesAgency: true
                          name: The Empire
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          phones:
                            - createdAt: '2025-03-12T13:20:19.397Z'
                              description: null
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              extension: '123'
                              functions:
                                - Main
                              id: Hx7070L2bijXzmLVhrrrD3GTBOr70O
                              isConfidential: false
                              metadata:
                                sortOrder: 1
                              number: '+13239867785'
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              types:
                                - Phone
                              updatedAt: '2025-03-12T20:31:40.058Z'
                          references:
                            - createdAt: '2025-03-12T13:20:19.508Z'
                              description: null
                              elementId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                              elementType: site
                              id: HxA7J82r8uVld6oouj32jJ0ulle6Qp
                              isConfidential: false
                              label: null
                              metadata:
                                sortOrder: 1
                              organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              type: url
                              updatedAt: '2025-03-12T20:31:40.197Z'
                              uri: theempire.net
                          status: active
                          updatedAt: '2025-03-12T20:31:35.467Z'
                          url: null
                        siteId: Hxy2DzBxGsD2a8pjsWG3vKzSGv82oy
                        status: active
                        updatedAt: '2025-03-12T13:46:56.955Z'
                        visibility: public
              examples:
                Example Resource Search:
                  value:
                    __meta:
                      currentLength: 1
                      nextUrl: null
                      perPage: 100
                      prevUrl: null
                      total: 1
                    data:
                      - _score: 11.539933
                        addresses: []
                        alias: null
                        area: null
                        contactPersons: []
                        createdAt: '2025-03-12T13:46:56.955Z'
[...]
