openapi: 3.0.3
info:
  title: Official Nexus
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.nexus211.com
  - url: https://contact.211cs.org
paths:
  /search/resource:
    get:
      tags:
        - Search
      summary: UAT Search Endpoint
      description: UAT Search Endpoint
      operationId: uatSearchEndpoint
      parameters:
        - name: description
          in: query
          schema:
            type: string
            example: '"test"'
        - name: types
          in: query
          schema:
            type: string
            example: '["Phone"]'
        - name: query
          in: query
          schema:
            type: string
            example: '*'
      responses:
        '200':
          description: Example Search Response
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,GET,POST,PATCH,DELETE
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Thu, 01 Aug 2024 15:13:07 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        addressLine1:
                          type: string
                          example: 3300 Mercy Health Boulevard
                        addressLine2:
                          nullable: true
                          example: null
                        country:
                          type: string
                          example: US
                        createdAt:
                          type: string
                          example: '2024-07-19T13:09:32.751Z'
                        elementId:
                          type: string
                          example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                        elementType:
                          type: string
                          example: site
                        id:
                          type: string
                          example: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                        isConfidential:
                          type: boolean
                          example: false
                        latitude:
                          type: string
                          example: '39.1809331'
                        locality:
                          type: string
                          example: Cincinnati
                        longitude:
                          type: string
                          example: '-84.5966369'
                        metadata:
                          type: object
                          properties:
                            addressAccessibility:
                              type: array
                              items: {}
                              example: []
                            addressTransportation:
                              type: array
                              items: {}
                              example: []
                            addressType:
                              type: array
                              items:
                                type: string
                                example: Physical
                              example:
                                - Physical
                            county:
                              type: string
                              example: Hamilton
                            idMigratedFrom:
                              type: string
                              example: 18096_physical
                        organizationId:
                          type: string
                          example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        postalCode:
                          type: string
                          example: '45211'
                        region:
                          type: string
                          example: OH
                        updatedAt:
                          type: string
                          example: '2024-07-19T13:09:32.751Z'
                    example:
                      - addressLine1: 3300 Mercy Health Boulevard
                        addressLine2: null
                        country: US
                        createdAt: '2024-07-19T13:09:32.751Z'
                        elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                        elementType: site
                        id: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                        isConfidential: false
                        latitude: '39.1809331'
                        locality: Cincinnati
                        longitude: '-84.5966369'
                        metadata:
                          addressAccessibility: []
                          addressTransportation: []
                          addressType:
                            - Physical
                          county: Hamilton
                          idMigratedFrom: 18096_physical
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        postalCode: '45211'
                        region: OH
                        updatedAt: '2024-07-19T13:09:32.751Z'
                  alias:
                    nullable: true
                    example: null
                  contactPersons:
                    type: array
                    items: {}
                    example: []
                  createdAt:
                    type: string
                    example: '2024-07-19T13:09:42.410Z'
                  description:
                    type: string
                    example: <p><b>Eligibility:</b><br />Open to all.</p><br /><br /><p><b>Documents Required:</b><br />Documentation will be requested as needed.</p>
                  emails:
                    type: array
                    items: {}
                    example: []
                  geoArea:
                    type: object
                    properties: {}
                  hour:
                    type: object
                    properties:
                      createdAt:
                        type: string
                        example: '2024-07-19T13:09:42.629Z'
                      elementId:
                        type: string
                        example: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                      elementType:
                        type: string
                        example: resource
                      friday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      id:
                        type: string
                        example: Hx003BamzHEzo9gesNOl8NrCAzO0rD
                      isConfidential:
                        type: boolean
                        example: false
                      metadata:
                        type: object
                        properties:
                          notes:
                            type: string
                            example: 'Notes: 24 hours a day, 7 days a week.'
                      monday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      organizationId:
                        type: string
                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      saturday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      specialHours:
                        nullable: true
                        example: null
                      sunday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      thursday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      tuesday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                      updatedAt:
                        type: string
                        example: '2024-07-19T13:09:42.629Z'
                      wednesday:
                        type: array
                        items:
                          type: string
                          example: 00:00-23:59
                        example:
                          - 00:00-23:59
                  id:
                    type: string
                    example: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                  limitedAvailability:
                    type: boolean
                    example: false
                  metadata:
                    type: object
                    properties:
                      applicationProcedure:
                        type: string
                        example: Walk-ins accepted.
                      fees:
                        type: string
                        example: Vary. Financial assistance programs available.
                      idMigratedFrom:
                        type: string
                        example: '136521'
                      serviceAreaName:
                        type: array
                        items:
                          type: string
                          example: Brown County, OH
                        example:
                          - Brown County, OH
                          - Clermont County, OH
                          - Hamilton County, OH
                      serviceAreaRegion:
                        type: array
                        items:
                          type: string
                          example: OH - Counties
                        example:
                          - OH - Counties
                      serviceAreaZipCodes:
                        type: array
                        items:
                          type: string
                          example: '45101'
                        example:
                          - '45101'
                          - '45106'
                          - '45107'
                          - '45115'
                          - '45118'
                          - '45119'
                          - '45120'
                          - '45121'
                          - '45130'
                          - '45131'
                          - '45133'
                          - '45142'
                          - '45144'
                          - '45148'
                          - '45154'
                          - '45167'
                          - '45168'
                          - '45171'
                          - '45176'
                          - '45697'
                          - '45102'
                          - '45103'
                          - '45112'
                          - '45122'
                          - '45140'
                          - '45147'
                          - '45150'
                          - '45153'
                          - '45156'
                          - '45157'
                          - '45158'
                          - '45160'
                          - '45162'
                          - '45244'
                          - '45245'
                          - '45255'
                          - '45001'
                          - '45002'
                          - '45013'
                          - '45030'
                          - '45033'
                          - '45041'
                          - '45051'
                          - '45052'
                          - '45069'
                          - '45111'
                          - '45174'
                          - '45202'
                          - '45203'
                          - '45204'
                          - '45205'
                          - '45206'
                          - '45207'
                          - '45208'
                          - '45209'
                          - '45211'
                          - '45212'
                          - '45213'
                          - '45214'
                          - '45215'
                          - '45216'
                          - '45217'
                          - '45218'
                          - '45219'
                          - '45220'
                          - '45223'
                          - '45224'
                          - '45225'
                          - '45226'
                          - '45227'
                          - '45229'
                          - '45230'
                          - '45231'
                          - '45232'
                          - '45233'
                          - '45236'
                          - '45237'
                          - '45238'
                          - '45239'
                          - '45240'
                          - '45241'
                          - '45242'
                          - '45243'
                          - '45246'
                          - '45247'
                          - '45248'
                          - '45249'
                          - '45251'
                          - '45252'
                          - '45267'
                      serviceConditions:
                        type: object
                        properties:
                          documentation:
                            type: array
                            items: {}
                            example: []
                          language:
                            type: array
                            items: {}
                            example: []
                  organization:
                    type: object
                    properties:
                      city:
                        nullable: true
                        example: null
                      createdAt:
                        type: string
                        example: '2024-05-16T14:03:15.435Z'
                      createdById:
                        type: string
                        example: HxEweyqapUWqzyvASlJoDO7UW1Qozv
                      demographicSurveyId:
                        type: string
                        example: HxGE1WkzvtgBP9qmSKGDxWOFjBzWQb
                      description:
                        type: string
                        example: May 16, 2024. UWGC Test Resource Migration
                      id:
                        type: string
                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      logo:
                        nullable: true
                        example: null
                      name:
                        type: string
                        example: United Way of Greater Cincinnati (UWGC) - UAT Sandbox
                      state:
                        nullable: true
                        example: null
                      updatedAt:
                        type: string
                        example: '2024-06-03T17:45:05.807Z'
                      website:
                        nullable: true
                        example: null
                  organizationId:
                    type: string
                    example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                  phones:
                    type: array
                    items: {}
                    example: []
                  references:
                    type: array
                    items:
                      type: object
                      properties:
                        createdAt:
                          type: string
                          example: '2024-07-19T13:09:42.544Z'
                        description:
                          nullable: true
                          example: null
                        elementId:
                          type: string
                          example: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                        elementType:
                          type: string
                          example: resource
                        id:
                          type: string
                          example: HxGgOPaE8HgWVjAxfPOKX3OIwO6Pw
                        isConfidential:
                          type: boolean
                          example: false
                        label:
                          type: string
                          example: Service Website
                        metadata:
                          type: object
                          properties:
                            sortOrder:
                              type: number
                              example: 1
                        organizationId:
                          type: string
                          example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        type:
                          type: string
                          example: url
                        updatedAt:
                          type: string
                          example: '2024-07-19T13:09:42.544Z'
                        uri:
                          type: string
                          example: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                    example:
                      - createdAt: '2024-07-19T13:09:42.544Z'
                        description: null
                        elementId: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                        elementType: resource
                        id: HxGgOPaE8HgWVjAxfPOKX3OIwO6Pw
                        isConfidential: false
                        label: Service Website
                        metadata:
                          sortOrder: 1
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        type: url
                        updatedAt: '2024-07-19T13:09:42.544Z'
                        uri: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                  service:
                    type: object
                    properties:
                      addresses:
                        type: array
                        items: {}
                        example: []
                      agencyId:
                        type: string
                        example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                      airsTaxonomyId:
                        nullable: true
                        example: null
                      annotations:
                        type: array
                        items: {}
                        example: []
                      contactPersons:
                        type: array
                        items: {}
                        example: []
                      createdAt:
                        type: string
                        example: '2024-07-19T13:09:30.694Z'
                      description:
                        type: string
                        example: Provides emergency and critical diagnostic and treatment services for people who have illnesses or injuries which require immediate intervention.
                      emails:
                        type: array
                        items: {}
                        example: []
                      geoArea:
                        type: object
                        properties: {}
                      hour:
                        nullable: true
                        example: null
                      id:
                        type: string
                        example: Hxa5LW9DzIpb20Q4i0gOQq4hWOb4aK
                      metadata:
                        type: object
                        properties:
                          airsTaxonomy:
                            type: object
                            properties:
                              targetTerms:
                                type: array
                                items: {}
                                example: []
                              taxonomyTerm:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    example: LD-1700
                                  name:
                                    type: string
                                    example: Emergency Room Care
                          idMigratedFrom:
                            type: string
                            example: '447'
                      name:
                        type: string
                        example: Emergency Room Care
                      organizationId:
                        type: string
                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      phones:
                        type: array
                        items: {}
                        example: []
                      references:
                        type: array
                        items: {}
                        example: []
                      status:
                        type: string
                        example: active
                      updatedAt:
                        type: string
                        example: '2024-07-19T13:09:30.694Z'
                  serviceId:
                    type: string
                    example: Hxa5LW9DzIpb20Q4i0gOQq4hWOb4aK
                  site:
                    type: object
                    properties:
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            addressLine1:
                              type: string
                              example: 3300 Mercy Health Boulevard
                            addressLine2:
                              nullable: true
                              example: null
                            country:
                              type: string
                              example: US
                            createdAt:
                              type: string
                              example: '2024-07-19T13:09:32.751Z'
                            elementId:
                              type: string
                              example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType:
                              type: string
                              example: site
                            id:
                              type: string
                              example: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                            isConfidential:
                              type: boolean
                              example: false
                            latitude:
                              type: string
                              example: '39.1809331'
                            locality:
                              type: string
                              example: Cincinnati
                            longitude:
                              type: string
                              example: '-84.5966369'
                            metadata:
                              type: object
                              properties:
                                addressAccessibility:
                                  type: array
                                  items: {}
                                  example: []
                                addressTransportation:
                                  type: array
                                  items: {}
                                  example: []
                                addressType:
                                  type: array
                                  items:
                                    type: string
                                    example: Physical
                                  example:
                                    - Physical
                                county:
                                  type: string
                                  example: Hamilton
                                idMigratedFrom:
                                  type: string
                                  example: 18096_physical
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            postalCode:
                              type: string
                              example: '45211'
                            region:
                              type: string
                              example: OH
                            updatedAt:
                              type: string
                              example: '2024-07-19T13:09:32.751Z'
                        example:
                          - addressLine1: 3300 Mercy Health Boulevard
                            addressLine2: null
                            country: US
                            createdAt: '2024-07-19T13:09:32.751Z'
                            elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType: site
                            id: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                            isConfidential: false
                            latitude: '39.1809331'
                            locality: Cincinnati
                            longitude: '-84.5966369'
                            metadata:
                              addressAccessibility: []
                              addressTransportation: []
                              addressType:
                                - Physical
                              county: Hamilton
                              idMigratedFrom: 18096_physical
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            postalCode: '45211'
                            region: OH
                            updatedAt: '2024-07-19T13:09:32.751Z'
                      agency:
                        type: object
                        properties:
                          addresses:
                            type: array
                            items:
                              type: object
                              properties:
                                addressLine1:
                                  type: string
                                  example: 1701 Mercy Health Place
                                addressLine2:
                                  nullable: true
                                  example: null
                                country:
                                  type: string
                                  example: US
                                createdAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.193Z'
                                elementId:
                                  type: string
                                  example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType:
                                  type: string
                                  example: agency
                                id:
                                  type: string
                                  example: Hx9xg4JzzcmobbA9fLxpxJ7hL374lb
                                isConfidential:
                                  type: boolean
                                  example: false
                                latitude:
                                  type: string
                                  example: '39.1690419'
                                locality:
                                  type: string
                                  example: Cincinnati
                                longitude:
                                  type: string
                                  example: '-84.46453989999999'
                                metadata:
                                  type: object
                                  properties:
                                    addressAccessibility:
                                      type: array
                                      items:
                                        type: string
                                        example: All services are accessible
                                      example:
                                        - All services are accessible
                                        - Building/office is accessible to people with disabilities
                                    addressTransportation:
                                      type: array
                                      items: {}
                                      example: []
                                    addressType:
                                      type: array
                                      items:
                                        type: string
                                        example: Physical
                                      example:
                                        - Physical
                                    county:
                                      type: string
                                      example: Hamilton
                                    idMigratedFrom:
                                      type: string
                                      example: 1004_physical
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                postalCode:
                                  type: string
                                  example: '45237'
                                region:
                                  type: string
                                  example: OH
                                updatedAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.193Z'
                            example:
                              - addressLine1: 1701 Mercy Health Place
                                addressLine2: null
                                country: US
                                createdAt: '2024-07-19T13:09:30.193Z'
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                id: Hx9xg4JzzcmobbA9fLxpxJ7hL374lb
                                isConfidential: false
                                latitude: '39.1690419'
                                locality: Cincinnati
                                longitude: '-84.46453989999999'
                                metadata:
                                  addressAccessibility:
                                    - All services are accessible
                                    - Building/office is accessible to people with disabilities
                                  addressTransportation: []
                                  addressType:
                                    - Physical
                                  county: Hamilton
                                  idMigratedFrom: 1004_physical
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                postalCode: '45237'
                                region: OH
                                updatedAt: '2024-07-19T13:09:30.193Z'
                          agencyType:
                            nullable: true
                            example: null
                          alias:
                            nullable: true
                            example: null
                          annotations:
                            type: array
                            items: {}
                            example: []
                          annualBudget:
                            nullable: true
                            example: null
                          contactPersons:
                            type: array
                            items:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.260Z'
                                description:
                                  nullable: true
                                  example: null
                                elementId:
                                  type: string
                                  example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType:
                                  type: string
                                  example: agency
                                id:
                                  type: string
                                  example: HxjEnKW2ni17WpA0hD2eqgxt8peen
                                isConfidential:
                                  type: boolean
                                  example: false
                                metadata:
                                  type: object
                                  properties: {}
                                name:
                                  type: string
                                  example: Brian Gwyn
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title:
                                  type: string
                                  example: President - Cincinnati Market
                                updatedAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.260Z'
                            example:
                              - createdAt: '2024-07-19T13:09:30.260Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                id: HxjEnKW2ni17WpA0hD2eqgxt8peen
                                isConfidential: false
                                metadata: {}
                                name: Brian Gwyn
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title: President - Cincinnati Market
                                updatedAt: '2024-07-19T13:09:30.260Z'
                              - createdAt: '2024-07-19T13:09:30.296Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                id: Hx4pgya6bC44O4dof5ADWdKtWrekLN
                                isConfidential: false
                                metadata: {}
                                name: Maureen Richmond
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title: VP, Communications
                                updatedAt: '2024-07-19T13:09:30.296Z'
                              - createdAt: '2024-07-19T13:09:30.320Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                id: Hx73oJX6wfjDJ0aPCz4kDlkC2eeQVK
                                isConfidential: false
                                metadata: {}
                                name: John Starcher
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                title: CEO
                                updatedAt: '2024-07-19T13:09:30.320Z'
                          createdAt:
                            type: string
                            example: '2024-07-19T13:09:29.992Z'
                          description:
                            type: string
                            example: Not-for-profit healthcare facility, located Anderson Township, providing medical care through a variety of services and programs
                          directorName:
                            type: string
                            example: John Starcher
                          directorTitle:
                            type: string
                            example: CEO
                          emails:
                            type: array
                            items: {}
                            example: []
                          federalEIN:
                            nullable: true
                            example: null
                          hour:
                            type: object
                            properties:
                              createdAt:
                                type: string
                                example: '2024-07-19T13:09:30.227Z'
                              elementId:
                                type: string
                                example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                              elementType:
                                type: string
                                example: agency
                              friday:
                                type: array
                                items:
                                  type: string
                                  example: 08:30-17:30
                                example:
                                  - 08:30-17:30
                              id:
                                type: string
                                example: Hxq99K7GjtQnVjqgueKpopvtgDnx5v
                              isConfidential:
                                type: boolean
                                example: false
                              metadata:
                                type: object
                                properties:
                                  notes:
                                    type: string
                                    example: Monday - Friday, 8:30 a.m. - 5:30 p.m.
                              monday:
                                type: array
                                items:
                                  type: string
                                  example: 08:30-17:30
                                example:
                                  - 08:30-17:30
                              organizationId:
                                type: string
                                example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                              saturday:
                                type: array
                                items: {}
                                example: []
                              specialHours:
                                nullable: true
                                example: null
                              sunday:
                                type: array
                                items: {}
                                example: []
                              thursday:
                                type: array
                                items:
                                  type: string
                                  example: 08:30-17:30
                                example:
                                  - 08:30-17:30
                              tuesday:
                                type: array
                                items:
                                  type: string
                                  example: 08:30-17:30
                                example:
                                  - 08:30-17:30
                              updatedAt:
                                type: string
                                example: '2024-07-19T13:09:30.227Z'
                              wednesday:
                                type: array
                                items:
                                  type: string
                                  example: 08:30-17:30
                                example:
                                  - 08:30-17:30
                          id:
                            type: string
                            example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                          irsTaxCode:
                            nullable: true
                            example: null
                          isArchived:
                            type: boolean
                            example: false
                          legalStatus:
                            type: string
                            example: Not For Profit
                          metadata:
                            type: object
                            properties:
                              idMigratedFrom:
                                type: string
                                example: UWGC1004
                              taxId:
                                nullable: true
                                example: null
                          name:
                            type: string
                            example: Mercy Health
                          organizationId:
                            type: string
                            example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          phones:
                            type: array
                            items:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.144Z'
                                description:
                                  nullable: true
                                  example: null
                                elementId:
                                  type: string
                                  example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType:
                                  type: string
                                  example: agency
                                extension:
                                  nullable: true
                                  example: null
                                functions:
                                  type: array
                                  items:
                                    type: string
                                    example: Administrative -
                                  example:
                                    - Administrative -
                                id:
                                  type: string
                                  example: Hxlrlw2EyuX9lKWoU89PJxyC60E6bn
                                isConfidential:
                                  type: boolean
                                  example: false
                                metadata:
                                  type: object
                                  properties:
                                    sortOrder:
                                      type: number
                                      example: 1
                                number:
                                  type: string
                                  example: '+15136244500'
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                types:
                                  type: array
                                  items:
                                    type: string
                                    example: Voice
                                  example:
                                    - Voice
                                updatedAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.144Z'
                            example:
                              - createdAt: '2024-07-19T13:09:30.144Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                extension: null
                                functions:
                                  - Administrative -
                                id: Hxlrlw2EyuX9lKWoU89PJxyC60E6bn
                                isConfidential: false
                                metadata:
                                  sortOrder: 1
                                number: '+15136244500'
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                types:
                                  - Voice
                                updatedAt: '2024-07-19T13:09:30.144Z'
                              - createdAt: '2024-07-19T13:09:30.153Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                extension: null
                                functions:
                                  - FAX -
                                id: HxVxn3Lo0io40eJ3uP30o6Xc4K0rq6
                                isConfidential: false
                                metadata:
                                  sortOrder: 2
                                number: '+15136243299'
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                types:
                                  - Fax
                                updatedAt: '2024-07-19T13:09:30.153Z'
                          references:
                            type: array
                            items:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.092Z'
                                description:
                                  nullable: true
                                  example: null
                                elementId:
                                  type: string
                                  example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType:
                                  type: string
                                  example: agency
                                id:
                                  type: string
                                  example: HxpLqrKXrF5QmObPhkgd3XeUKbVW2E
                                isConfidential:
                                  type: boolean
                                  example: false
                                label:
                                  type: string
                                  example: Agency Website
                                metadata:
                                  type: object
                                  properties:
                                    sortOrder:
                                      type: number
                                      example: 1
                                organizationId:
                                  type: string
                                  example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                type:
                                  type: string
                                  example: url
                                updatedAt:
                                  type: string
                                  example: '2024-07-19T13:09:30.092Z'
                                uri:
                                  type: string
                                  example: www.mercy.com
                            example:
                              - createdAt: '2024-07-19T13:09:30.092Z'
                                description: null
                                elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                                elementType: agency
                                id: HxpLqrKXrF5QmObPhkgd3XeUKbVW2E
                                isConfidential: false
                                label: Agency Website
                                metadata:
                                  sortOrder: 1
                                organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                                type: url
                                updatedAt: '2024-07-19T13:09:30.092Z'
                                uri: www.mercy.com
                          status:
                            type: string
                            example: active
                          surveyType:
                            type: string
                            example: online
                          updatedAt:
                            type: string
                            example: '2024-07-19T13:09:29.992Z'
                          url:
                            type: string
                            example: www.mercy.com
                          yearIncorporated:
                            type: number
                            example: 1984
                      agencyId:
                        type: string
                        example: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                      alias:
                        type: array
                        items:
                          type: string
                          example: MERCY HEALTH
                        example:
                          - MERCY HEALTH
                      annotations:
                        type: array
                        items: {}
                        example: []
                      contactPersons:
                        type: array
                        items: {}
                        example: []
                      createdAt:
                        type: string
                        example: '2024-07-19T13:09:32.533Z'
                      description:
                        nullable: true
                        example: null
                      emails:
                        type: array
                        items: {}
                        example: []
                      hour:
                        type: object
                        properties:
                          createdAt:
                            type: string
                            example: '2024-07-19T13:09:32.788Z'
                          elementId:
                            type: string
                            example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                          elementType:
                            type: string
                            example: site
                          friday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          id:
                            type: string
                            example: HxajowdKPIpbyV5zs6KgV5nIWJWzdn
                          isConfidential:
                            type: boolean
                            example: false
                          metadata:
                            type: object
                            properties:
                              notes:
                                type: string
                                example: 24 hours a day, 7 days a week
                          monday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          organizationId:
                            type: string
                            example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          saturday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          specialHours:
                            nullable: true
                            example: null
                          sunday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          thursday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          tuesday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                          updatedAt:
                            type: string
                            example: '2024-07-19T13:09:32.788Z'
                          wednesday:
                            type: array
                            items:
                              type: string
                              example: 00:00-23:59
                            example:
                              - 00:00-23:59
                      id:
                        type: string
                        example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                      metadata:
                        type: object
                        properties:
                          idMigratedFrom:
                            type: string
                            example: '18096'
                      name:
                        type: string
                        example: Mercy Health - West Hospital
                      organizationId:
                        type: string
                        example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      phones:
                        type: array
                        items:
                          type: object
                          properties:
                            createdAt:
                              type: string
                              example: '2024-07-19T13:09:32.673Z'
                            description:
                              type: string
                              nullable: true
                              example: null
                            elementId:
                              type: string
                              example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType:
                              type: string
                              example: site
                            extension:
                              nullable: true
                              example: null
                            functions:
                              type: array
                              items:
                                type: string
                                example: Administrative
                              example:
                                - Administrative
                            id:
                              type: string
                              example: Hx6eO7aDWf5k04XxIyx7ek1h5b451q
                            isConfidential:
                              type: boolean
                              example: false
                            metadata:
                              type: object
                              properties:
                                sortOrder:
                                  type: number
                                  example: 1
                            number:
                              type: string
                              example: '+15132155000'
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            types:
                              type: array
                              items:
                                type: string
                                example: Voice
                              example:
                                - Voice
                            updatedAt:
                              type: string
                              example: '2024-07-19T13:09:32.673Z'
                        example:
                          - createdAt: '2024-07-19T13:09:32.673Z'
                            description: null
                            elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType: site
                            extension: null
                            functions:
                              - Administrative
                            id: Hx6eO7aDWf5k04XxIyx7ek1h5b451q
                            isConfidential: false
                            metadata:
                              sortOrder: 1
                            number: '+15132155000'
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            types:
                              - Voice
                            updatedAt: '2024-07-19T13:09:32.673Z'
                          - createdAt: '2024-07-19T13:09:32.712Z'
                            description: Emergency Department
                            elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType: site
                            extension: null
                            functions:
                              - Administrative
                            id: HxAKKL16mfVGWLdwu9OegoBH41jeb8
                            isConfidential: false
                            metadata:
                              sortOrder: 2
                            number: '+15132151222'
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            types:
                              - Voice
                            updatedAt: '2024-07-19T13:09:32.712Z'
                      references:
                        type: array
                        items:
                          type: object
                          properties:
                            createdAt:
                              type: string
                              example: '2024-07-19T13:09:32.639Z'
                            description:
                              nullable: true
                              example: null
                            elementId:
                              type: string
                              example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType:
                              type: string
                              example: site
                            id:
                              type: string
                              example: HxddAyJq5tqqWp5nsno9Nqac89BEmW
                            isConfidential:
                              type: boolean
                              example: false
                            label:
                              type: string
                              example: Site Website
                            metadata:
                              type: object
                              properties:
                                sortOrder:
                                  type: number
                                  example: 1
                            organizationId:
                              type: string
                              example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            type:
                              type: string
                              example: url
                            updatedAt:
                              type: string
                              example: '2024-07-19T13:09:32.639Z'
                            uri:
                              type: string
                              example: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                        example:
                          - createdAt: '2024-07-19T13:09:32.639Z'
                            description: null
                            elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                            elementType: site
                            id: HxddAyJq5tqqWp5nsno9Nqac89BEmW
                            isConfidential: false
                            label: Site Website
                            metadata:
                              sortOrder: 1
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            type: url
                            updatedAt: '2024-07-19T13:09:32.639Z'
                            uri: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                      status:
                        type: string
                        example: active
                      updatedAt:
                        type: string
                        example: '2024-07-19T13:09:32.533Z'
                      url:
                        type: string
                        example: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                  siteId:
                    type: string
                    example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                  status:
                    type: string
                    example: active
                  updatedAt:
                    type: string
                    example: '2024-07-19T13:09:42.410Z'
                  visibility:
                    type: string
                    example: public
              examples:
                Example Search Response:
                  value:
                    addresses:
                      - addressLine1: 3300 Mercy Health Boulevard
                        addressLine2: null
                        country: US
                        createdAt: '2024-07-19T13:09:32.751Z'
                        elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                        elementType: site
                        id: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                        isConfidential: false
                        latitude: '39.1809331'
                        locality: Cincinnati
                        longitude: '-84.5966369'
                        metadata:
                          addressAccessibility: []
                          addressTransportation: []
                          addressType:
                            - Physical
                          county: Hamilton
                          idMigratedFrom: 18096_physical
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        postalCode: '45211'
                        region: OH
                        updatedAt: '2024-07-19T13:09:32.751Z'
                    alias: null
                    contactPersons: []
                    createdAt: '2024-07-19T13:09:42.410Z'
                    description: <p><b>Eligibility:</b><br />Open to all.</p><br /><br /><p><b>Documents Required:</b><br />Documentation will be requested as needed.</p>
                    emails: []
                    geoArea: {}
                    hour:
                      createdAt: '2024-07-19T13:09:42.629Z'
                      elementId: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                      elementType: resource
                      friday:
                        - 00:00-23:59
                      id: Hx003BamzHEzo9gesNOl8NrCAzO0rD
                      isConfidential: false
                      metadata:
                        notes: 'Notes: 24 hours a day, 7 days a week.'
                      monday:
                        - 00:00-23:59
                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      saturday:
                        - 00:00-23:59
                      specialHours: null
                      sunday:
                        - 00:00-23:59
                      thursday:
                        - 00:00-23:59
                      tuesday:
                        - 00:00-23:59
                      updatedAt: '2024-07-19T13:09:42.629Z'
                      wednesday:
                        - 00:00-23:59
                    id: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                    limitedAvailability: false
                    metadata:
                      applicationProcedure: Walk-ins accepted.
                      fees: Vary. Financial assistance programs available.
                      idMigratedFrom: '136521'
                      serviceAreaName:
                        - Brown County, OH
                        - Clermont County, OH
                        - Hamilton County, OH
                      serviceAreaRegion:
                        - OH - Counties
                      serviceAreaZipCodes:
                        - '45101'
                        - '45106'
                        - '45107'
                        - '45115'
                        - '45118'
                        - '45119'
                        - '45120'
                        - '45121'
                        - '45130'
                        - '45131'
                        - '45133'
                        - '45142'
                        - '45144'
                        - '45148'
                        - '45154'
                        - '45167'
                        - '45168'
                        - '45171'
                        - '45176'
                        - '45697'
                        - '45102'
                        - '45103'
                        - '45112'
                        - '45122'
                        - '45140'
                        - '45147'
                        - '45150'
                        - '45153'
                        - '45156'
                        - '45157'
                        - '45158'
                        - '45160'
                        - '45162'
                        - '45244'
                        - '45245'
                        - '45255'
                        - '45001'
                        - '45002'
                        - '45013'
                        - '45030'
                        - '45033'
                        - '45041'
                        - '45051'
                        - '45052'
                        - '45069'
                        - '45111'
                        - '45174'
                        - '45202'
                        - '45203'
                        - '45204'
                        - '45205'
                        - '45206'
                        - '45207'
                        - '45208'
                        - '45209'
                        - '45211'
                        - '45212'
                        - '45213'
                        - '45214'
                        - '45215'
                        - '45216'
                        - '45217'
                        - '45218'
                        - '45219'
                        - '45220'
                        - '45223'
                        - '45224'
                        - '45225'
                        - '45226'
                        - '45227'
                        - '45229'
                        - '45230'
                        - '45231'
                        - '45232'
                        - '45233'
                        - '45236'
                        - '45237'
                        - '45238'
                        - '45239'
                        - '45240'
                        - '45241'
                        - '45242'
                        - '45243'
                        - '45246'
                        - '45247'
                        - '45248'
                        - '45249'
                        - '45251'
                        - '45252'
                        - '45267'
                      serviceConditions:
                        documentation: []
                        language: []
                    organization:
                      city: null
                      createdAt: '2024-05-16T14:03:15.435Z'
                      createdById: HxEweyqapUWqzyvASlJoDO7UW1Qozv
                      demographicSurveyId: HxGE1WkzvtgBP9qmSKGDxWOFjBzWQb
                      description: May 16, 2024. UWGC Test Resource Migration
                      id: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      logo: null
                      name: United Way of Greater Cincinnati (UWGC) - UAT Sandbox
                      state: null
                      updatedAt: '2024-06-03T17:45:05.807Z'
                      website: null
                    organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                    phones: []
                    references:
                      - createdAt: '2024-07-19T13:09:42.544Z'
                        description: null
                        elementId: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                        elementType: resource
                        id: HxGgOPaE8HgWVjAxfPOKX3OIwO6Pw
                        isConfidential: false
                        label: Service Website
                        metadata:
                          sortOrder: 1
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        type: url
                        updatedAt: '2024-07-19T13:09:42.544Z'
                        uri: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                    service:
                      addresses: []
                      agencyId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                      airsTaxonomyId: null
                      annotations: []
                      contactPersons: []
                      createdAt: '2024-07-19T13:09:30.694Z'
                      description: Provides emergency and critical diagnostic and treatment services for people who have illnesses or injuries which require immediate intervention.
                      emails: []
                      geoArea: {}
                      hour: null
                      id: Hxa5LW9DzIpb20Q4i0gOQq4hWOb4aK
                      metadata:
                        airsTaxonomy:
                          targetTerms: []
                          taxonomyTerm:
                            code: LD-1700
                            name: Emergency Room Care
                        idMigratedFrom: '447'
                      name: Emergency Room Care
                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      phones: []
                      references: []
                      status: active
                      updatedAt: '2024-07-19T13:09:30.694Z'
                    serviceId: Hxa5LW9DzIpb20Q4i0gOQq4hWOb4aK
                    site:
                      addresses:
                        - addressLine1: 3300 Mercy Health Boulevard
                          addressLine2: null
                          country: US
                          createdAt: '2024-07-19T13:09:32.751Z'
                          elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                          elementType: site
                          id: Hxm9BjLEBCGWOKGgcqe4EJ5SpgveDP
                          isConfidential: false
                          latitude: '39.1809331'
                          locality: Cincinnati
                          longitude: '-84.5966369'
                          metadata:
                            addressAccessibility: []
                            addressTransportation: []
                            addressType:
                              - Physical
                            county: Hamilton
                            idMigratedFrom: 18096_physical
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          postalCode: '45211'
                          region: OH
                          updatedAt: '2024-07-19T13:09:32.751Z'
                      agency:
                        addresses:
                          - addressLine1: 1701 Mercy Health Place
                            addressLine2: null
                            country: US
                            createdAt: '2024-07-19T13:09:30.193Z'
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            id: Hx9xg4JzzcmobbA9fLxpxJ7hL374lb
                            isConfidential: false
                            latitude: '39.1690419'
                            locality: Cincinnati
                            longitude: '-84.46453989999999'
                            metadata:
                              addressAccessibility:
                                - All services are accessible
                                - Building/office is accessible to people with disabilities
                              addressTransportation: []
                              addressType:
                                - Physical
                              county: Hamilton
                              idMigratedFrom: 1004_physical
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            postalCode: '45237'
                            region: OH
                            updatedAt: '2024-07-19T13:09:30.193Z'
                        agencyType: null
                        alias: null
                        annotations: []
                        annualBudget: null
                        contactPersons:
                          - createdAt: '2024-07-19T13:09:30.260Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            id: HxjEnKW2ni17WpA0hD2eqgxt8peen
                            isConfidential: false
                            metadata: {}
                            name: Brian Gwyn
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            title: President - Cincinnati Market
                            updatedAt: '2024-07-19T13:09:30.260Z'
                          - createdAt: '2024-07-19T13:09:30.296Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            id: Hx4pgya6bC44O4dof5ADWdKtWrekLN
                            isConfidential: false
                            metadata: {}
                            name: Maureen Richmond
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            title: VP, Communications
                            updatedAt: '2024-07-19T13:09:30.296Z'
                          - createdAt: '2024-07-19T13:09:30.320Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            id: Hx73oJX6wfjDJ0aPCz4kDlkC2eeQVK
                            isConfidential: false
                            metadata: {}
                            name: John Starcher
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            title: CEO
                            updatedAt: '2024-07-19T13:09:30.320Z'
                        createdAt: '2024-07-19T13:09:29.992Z'
                        description: Not-for-profit healthcare facility, located Anderson Township, providing medical care through a variety of services and programs
                        directorName: John Starcher
                        directorTitle: CEO
                        emails: []
                        federalEIN: null
                        hour:
                          createdAt: '2024-07-19T13:09:30.227Z'
                          elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                          elementType: agency
                          friday:
                            - 08:30-17:30
                          id: Hxq99K7GjtQnVjqgueKpopvtgDnx5v
                          isConfidential: false
                          metadata:
                            notes: Monday - Friday, 8:30 a.m. - 5:30 p.m.
                          monday:
                            - 08:30-17:30
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          saturday: []
                          specialHours: null
                          sunday: []
                          thursday:
                            - 08:30-17:30
                          tuesday:
                            - 08:30-17:30
                          updatedAt: '2024-07-19T13:09:30.227Z'
                          wednesday:
                            - 08:30-17:30
                        id: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                        irsTaxCode: null
                        isArchived: false
                        legalStatus: Not For Profit
                        metadata:
                          idMigratedFrom: UWGC1004
                          taxId: null
                        name: Mercy Health
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        phones:
                          - createdAt: '2024-07-19T13:09:30.144Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            extension: null
                            functions:
                              - Administrative -
                            id: Hxlrlw2EyuX9lKWoU89PJxyC60E6bn
                            isConfidential: false
                            metadata:
                              sortOrder: 1
                            number: '+15136244500'
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            types:
                              - Voice
                            updatedAt: '2024-07-19T13:09:30.144Z'
                          - createdAt: '2024-07-19T13:09:30.153Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            extension: null
                            functions:
                              - FAX -
                            id: HxVxn3Lo0io40eJ3uP30o6Xc4K0rq6
                            isConfidential: false
                            metadata:
                              sortOrder: 2
                            number: '+15136243299'
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            types:
                              - Fax
                            updatedAt: '2024-07-19T13:09:30.153Z'
                        references:
                          - createdAt: '2024-07-19T13:09:30.092Z'
                            description: null
                            elementId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                            elementType: agency
                            id: HxpLqrKXrF5QmObPhkgd3XeUKbVW2E
                            isConfidential: false
                            label: Agency Website
                            metadata:
                              sortOrder: 1
                            organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                            type: url
                            updatedAt: '2024-07-19T13:09:30.092Z'
                            uri: www.mercy.com
                        status: active
                        surveyType: online
                        updatedAt: '2024-07-19T13:09:29.992Z'
                        url: www.mercy.com
                        yearIncorporated: 1984
                      agencyId: HxX7OVdBkTDDvJqqsyEqgLQfPwvby8
                      alias:
                        - MERCY HEALTH
                      annotations: []
                      contactPersons: []
                      createdAt: '2024-07-19T13:09:32.533Z'
                      description: null
                      emails: []
                      hour:
                        createdAt: '2024-07-19T13:09:32.788Z'
                        elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                        elementType: site
                        friday:
                          - 00:00-23:59
                        id: HxajowdKPIpbyV5zs6KgV5nIWJWzdn
                        isConfidential: false
                        metadata:
                          notes: 24 hours a day, 7 days a week
                        monday:
                          - 00:00-23:59
                        organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        saturday:
                          - 00:00-23:59
                        specialHours: null
                        sunday:
                          - 00:00-23:59
                        thursday:
                          - 00:00-23:59
                        tuesday:
                          - 00:00-23:59
                        updatedAt: '2024-07-19T13:09:32.788Z'
                        wednesday:
                          - 00:00-23:59
                      id: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                      metadata:
                        idMigratedFrom: '18096'
                      name: Mercy Health - West Hospital
                      organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                      phones:
                        - createdAt: '2024-07-19T13:09:32.673Z'
                          description: null
                          elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                          elementType: site
                          extension: null
                          functions:
                            - Administrative
                          id: Hx6eO7aDWf5k04XxIyx7ek1h5b451q
                          isConfidential: false
                          metadata:
                            sortOrder: 1
                          number: '+15132155000'
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          types:
                            - Voice
                          updatedAt: '2024-07-19T13:09:32.673Z'
                        - createdAt: '2024-07-19T13:09:32.712Z'
                          description: Emergency Department
                          elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                          elementType: site
                          extension: null
                          functions:
                            - Administrative
                          id: HxAKKL16mfVGWLdwu9OegoBH41jeb8
                          isConfidential: false
                          metadata:
                            sortOrder: 2
                          number: '+15132151222'
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          types:
                            - Voice
                          updatedAt: '2024-07-19T13:09:32.712Z'
                      references:
                        - createdAt: '2024-07-19T13:09:32.639Z'
                          description: null
                          elementId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                          elementType: site
                          id: HxddAyJq5tqqWp5nsno9Nqac89BEmW
                          isConfidential: false
                          label: Site Website
                          metadata:
                            sortOrder: 1
                          organizationId: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                          type: url
                          updatedAt: '2024-07-19T13:09:32.639Z'
                          uri: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                      status: active
                      updatedAt: '2024-07-19T13:09:32.533Z'
                      url: https://www.mercy.com/locations/hospitals/cincinnati/mercy-health-west-hospital
                    siteId: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                    status: active
                    updatedAt: '2024-07-19T13:09:42.410Z'
                    visibility: public
      security:
        - basicAuth: []
  /resource:
    get:
      tags:
        - Resource
      summary: UAT GET Resources
      description: UAT GET Resources
      operationId: uatGetResources
      parameters:
        - name: description
          in: query
          schema:
            type: string
            example: '"test"'
        - name: types
          in: query
          schema:
            type: string
            example: '["Phone"]'
        - name: id
          in: query
          schema:
            type: string
            example: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
      responses:
        '200':
          description: GET by ID Example
          headers:
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: OPTIONS,GET,POST,PATCH,DELETE
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '1714'
            Cross-Origin-Embedder-Policy:
              schema:
                type: string
                example: require-corp
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Tue, 11 Mar 2025 14:48:41 GMT
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    type: object
                    properties:
                      currentLength:
                        type: number
                        example: 1
                      nextUrl:
                        nullable: true
                        example: null
                      perPage:
                        type: number
                        example: 100
                      prevUrl:
                        nullable: true
                        example: null
                      total:
                        type: number
                        example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        alias:
                          nullable: true
                          example: null
                        createdAt:
                          type: string
                          example: '2024-07-19T13:09:42.410Z'
                        description:
                          type: string
                          example: <p><b>Documents Required:</b><br />Documentation will be requested as needed.</p>
                        geoArea:
                          type: object
                          properties: {}
                        id:
                          type: string
                          example: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                        limitedAvailability:
                          type: boolean
                          example: false
                        metadata:
                          type: object
                          properties:
                            applicationProcedure:
                              type: string
                              example: Walk-ins accepted.
                            eligibility:
                              type: string
                              example: Open to all.
                            fees:
                              type: string
                              example: Vary. Financial assistance programs available.
                            idMigratedFrom:
                              type: string
                              example: '136521'
                            serviceAreaName:
                              type: array
                              items:
                                type: string
                                example: Brown County, OH
                              example:
                                - Brown County, OH
                                - Clermont County, OH
                                - Hamilton County, OH
                            serviceAreaRegion:
                              type: array
                              items:
                                type: string
                                example: OH - Counties
                              example:
                                - OH - Counties
                            serviceAreaZipCodes:
                              type: array
                              items:
                                type: string
                                example: '45101'
                              example:
                                - '45101'
                                - '45106'
                                - '45107'
                                - '45115'
                                - '45118'
                                - '45119'
                                - '45120'
                                - '45121'
                                - '45130'
                                - '45131'
                                - '45133'
                                - '45142'
                                - '45144'
                                - '45148'
                                - '45154'
                                - '45167'
                                - '45168'
                                - '45171'
                                - '45176'
                                - '45697'
                                - '45102'
                                - '45103'
                                - '45112'
                                - '45122'
                                - '45140'
                                - '45147'
                                - '45150'
                                - '45153'
                                - '45156'
                                - '45157'
                                - '45158'
                                - '45160'
                                - '45162'
                                - '45244'
                                - '45245'
                                - '45255'
                                - '45001'
                                - '45002'
                                - '45013'
                                - '45030'
                                - '45033'
                                - '45041'
                                - '45051'
                                - '45052'
                                - '45069'
                                - '45111'
                                - '45174'
                                - '45202'
                                - '45203'
                                - '45204'
                                - '45205'
                                - '45206'
                                - '45207'
                                - '45208'
                                - '45209'
                                - '45211'
                                - '45212'
                                - '45213'
                                - '45214'
                                - '45215'
                                - '45216'
                                - '45217'
                                - '45218'
                                - '45219'
                                - '45220'
                                - '45223'
                                - '45224'
                                - '45225'
                                - '45226'
                                - '45227'
                                - '45229'
                                - '45230'
                                - '45231'
                                - '45232'
                                - '45233'
                                - '45236'
                                - '45237'
                                - '45238'
                                - '45239'
                                - '45240'
                                - '45241'
                                - '45242'
                                - '45243'
                                - '45246'
                                - '45247'
                                - '45248'
                                - '45249'
                                - '45251'
                                - '45252'
                                - '45267'
                            serviceConditions:
                              type: object
                              properties:
                                documentation:
                                  type: array
                                  items: {}
                                  example: []
                                language:
                                  type: array
                                  items: {}
                                  example: []
                        organizationId:
                          type: string
                          example: HxPKoLwK7H0PDOq7iWoyyNWfB79KGp
                        service:
                          type: object
                          properties:
                            status:
                              type: string
                              example: active
                        serviceId:
                          type: string
                          example: Hxa5LW9DzIpb20Q4i0gOQq4hWOb4aK
                        site:
                          type: object
                          properties:
                            agency:
                              type: object
                              properties:
                                status:
                                  type: string
                                  example: active
                            status:
                              type: string
                              example: active
                        siteId:
                          type: string
                          example: Hx320j1ObSDdOdW6SDoKyazuKaaJaA
                        status:
                          type: string
                          example: active
                        updatedAt:
                          type: string
                          example: '2024-10-07T08:52:12.224Z'
                        visibility:
                          type: string
                          example: public
                    example:
                      - alias: null
                        createdAt: '2024-07-19T13:09:42.410Z'
                        description: <p><b>Documents Required:</b><br />Documentation will be requested as needed.</p>
                        geoArea: {}
                        id: HxyXjpQaNFqOOJOGuv8oz5bsp21azj
                        limitedAvailability: false
                        metadata:
                          applicationProcedure: Walk-ins accepted.
                          eligibility: Open to all.
                          fees: Vary. Financial assistance programs available.
                          idMigratedFrom: '136521'
                          serviceAreaName:
                            - Brown County, OH
                            - Clermont County, OH
                            - Hamilton County, OH
                          serviceAreaRegion:
[...]
